---
title: Verificação de verificação i9 de emprego
description: O Ato de Reforma e Controle de Imigração exige que os empregadores norte-americanos verifiquem o status de elegibilidade para emprego dos funcionários recém-contratados.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065672"
---
# <a name="employment-verification-i9-verification"></a>Verificação de verificação i9 de emprego

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

O Ato de Reforma e Controle de Imigração exige que os empregadores norte-americanos verifiquem o status de elegibilidade para emprego dos funcionários recém-contratados. Este procedimento irá apresentar as etapas que compõem o registro dos documentos necessários para verificação do I-9. Utilize a empresa USMF para esse procedimento.

1. Acesse **Recursos humanos \> Trabalhadores \> Funcionários**.
2. Use o Filtro Rápido para localizar registros. Por exemplo, filtre um valor **Vince** para o campo **Nome**.
3. Selecione o funcionário. Por exemplo, selecione **Vince Prado**.
4. Selecione a Guia Rápida **Informações pessoais**.
5. Selecione **Números de identificação**.
6. Selecione **Novo**.
7. Selecione o tipo de identificação que você está registrando. Por exemplo, selecione **Passaporte**.
8. No campo **Número**, insira um valor.
9. No campo **Principal**, selecione **Sim**.
10. No campo **Descrição**, insira uma breve descrição do registro de identificação.
11. No campo **Agência emissora** selecione a agência que emitiu o formulário de identificação ao trabalhador. Por exemplo, selecione **Governo**.
12. Insira a data em que a agência emissora emitiu o formulário de identificação ao trabalhador. Por exemplo, insira **15/02/2011** (15 de fevereiro de 2011).
13. Insira a data em que o formulário de identificação expira. Por exemplo, insira **15/2/2021** (15 de fevereiro de 2021).
14. Selecione **Salvar**.
15. Feche a página.
16. Selecione a guia **Emprego**.
17. Selecione **I-9**.
18. Selecione **Novo**.
19. No campo **Elegibilidade para trabalho**, selecione uma opção.

    Se o funcionário não for um cidadão ou natural dos Estados Unidos, você deverá inserir o número de admissão ou de estrangeiro residente do trabalhador.

20. Selecione a opção **GroupListA**.

    A lista selecionada dependerá do formulário de identificação fornecido pelo trabalhador. Um trabalhador deve fornecer um documento da Lista A ou um documento da Lista B e da lista C. Por exemplo, se o trabalhador tiver fornecido um passaporte, você poderá selecionar a Lista A. No entanto, se o trabalhador tiver fornecido apenas uma carteira de motorista e um CPF, você deverá selecionar a Lista B e a Lista C.

21. No campo **Tipo de documento I-9**, selecione o tipo de documento que o trabalhador forneceu.
22. No campo **Número do documento**, insira ou selecione um valor.
23. Selecione **Salvar**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
