---
title: Verificação de verificação i9 de emprego
description: O Ato de Reforma e Controle de Imigração exige que os empregadores norte-americanos verifiquem o status de elegibilidade para emprego dos funcionários recém-contratados.
author: ShielaSogge
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 0d2af12a41c587fd9b69874f087558d36f9b9a1d3491996a3ab931ae2c2591dc
ms.sourcegitcommit: 42fe9790ddf0bdad911544deaa82123a396712fb
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 08/05/2021
ms.locfileid: "6752266"
---
# <a name="employment-verification-i9-verification"></a>Verificação de verificação i9 de emprego

[!include [banner](../../../includes/banner.md)]

O Ato de Reforma e Controle de Imigração exige que os empregadores norte-americanos verifiquem o status de elegibilidade para emprego dos funcionários recém-contratados. Este procedimento irá apresentar as etapas que compõem o registro dos documentos necessários para verificação do I-9. Utilize a empresa USMF para esse procedimento.

1. Acesse Recursos humanos > Trabalhadores > Funcionários.
2. Use o Filtro Rápido para localizar registros. Por exemplo, filtre o campo Nome com um valor de 'Vince'.
3. Selecione o funcionário. Exemplo: Vince Prado
4. Expanda a aba rápida Informações pessoais.
5. Clique em Números de identificação.
6. Clique em Novo.
7. Selecione o tipo de identificação que você está registrando. Exemplo: Passaporte
8. No campo Número, digite um valor.
9. Selecione Sim no campo Principal.
10. No campo Descrição, insira uma breve descrição do registro de identificação.
11. Na agência emissora selecione a agência que emitiu o formulário de identificação ao trabalhador. Exemplo: Governo
12. Insira a data em que a agência emissora emitiu o formulário de identificação ao trabalhador. Exemplo: 15/02/2011
13. Insira a data em que o formulário de identificação expira. Exemplo: 15/02/2021
14. Clique em Salvar.
15. Feche a página.
16. Clique na guia Emprego.
17. Clicar em I-9
18. Clique em Novo.
19. No campo Elegibilidade para trabalho, selecione uma opção.
    * Se o funcionário não é um cidadão ou natural dos Estados Unidos, você deve inserir o número de admissão ou de estrangeiro residente do trabalhador.  
20. Selecione a opção Grupo Lista A.
    * A lista selecionada depende de qual forma de identificação o funcionário forneceu. Um trabalhador deve fornecer um documento da Lista A ou um documento das Listas B e C. Por exemplo, se o trabalhador forneceu um passaporte, então a Lista A pode ser selecionada. No entanto, se o trabalhador forneceu apenas sua carteira de motorista e cartão da previdência social, então as Listas B e C devem ser selecionadas.  
21. No campo Tipo de documento I-9, selecione o tipo de documento que o trabalhador forneceu.
22. No campo Número do documento, insira ou selecione um valor.
23. Clique em Salvar.



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]