---
title: Verificação de verificação i9 de emprego
description: O Ato de Reforma e Controle de Imigração exige que os empregadores norte-americanos verifiquem o status de elegibilidade para emprego dos funcionários recém-contratados.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: anbichse
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: f9c1c3db0f82bb3e30f0ff87592b5ceac20d3b16
ms.sourcegitcommit: 2b890cd7a801055ab0ca24398efc8e4e777d4d8c
ms.translationtype: HT
ms.contentlocale: pt-BR
ms.lasthandoff: 05/07/2019
ms.locfileid: "1507266"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="d26ef-103">Verificação de verificação i9 de emprego</span><span class="sxs-lookup"><span data-stu-id="d26ef-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="d26ef-104">O Ato de Reforma e Controle de Imigração exige que os empregadores norte-americanos verifiquem o status de elegibilidade para emprego dos funcionários recém-contratados.</span><span class="sxs-lookup"><span data-stu-id="d26ef-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="d26ef-105">Este procedimento irá apresentar as etapas que compõem o registro dos documentos necessários para verificação do I-9.</span><span class="sxs-lookup"><span data-stu-id="d26ef-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="d26ef-106">Utilize a empresa USMF para esse procedimento.</span><span class="sxs-lookup"><span data-stu-id="d26ef-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="d26ef-107">Vá para Recursos humanos > Trabalhadores > Funcionários.</span><span class="sxs-lookup"><span data-stu-id="d26ef-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="d26ef-108">Use o Filtro Rápido para localizar registros.</span><span class="sxs-lookup"><span data-stu-id="d26ef-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="d26ef-109">Por exemplo, filtre o campo Nome com um valor de 'Vince'.</span><span class="sxs-lookup"><span data-stu-id="d26ef-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="d26ef-110">Selecione o funcionário.</span><span class="sxs-lookup"><span data-stu-id="d26ef-110">Select the employee.</span></span> <span data-ttu-id="d26ef-111">Exemplo: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="d26ef-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="d26ef-112">Expanda a aba rápida Informações pessoais.</span><span class="sxs-lookup"><span data-stu-id="d26ef-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="d26ef-113">Clique em Números de identificação.</span><span class="sxs-lookup"><span data-stu-id="d26ef-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="d26ef-114">Clique em Novo.</span><span class="sxs-lookup"><span data-stu-id="d26ef-114">Click New.</span></span>
7. <span data-ttu-id="d26ef-115">Selecione o tipo de identificação que você está registrando.</span><span class="sxs-lookup"><span data-stu-id="d26ef-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="d26ef-116">Exemplo: Passaporte</span><span class="sxs-lookup"><span data-stu-id="d26ef-116">Example: Passport</span></span>
8. <span data-ttu-id="d26ef-117">No campo Número, digite um valor.</span><span class="sxs-lookup"><span data-stu-id="d26ef-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="d26ef-118">Selecione Sim no campo Principal.</span><span class="sxs-lookup"><span data-stu-id="d26ef-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="d26ef-119">No campo Descrição, insira uma breve descrição do registro de identificação.</span><span class="sxs-lookup"><span data-stu-id="d26ef-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="d26ef-120">Na agência emissora selecione a agência que emitiu o formulário de identificação ao trabalhador.</span><span class="sxs-lookup"><span data-stu-id="d26ef-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="d26ef-121">Exemplo: Governo</span><span class="sxs-lookup"><span data-stu-id="d26ef-121">Example: Government</span></span>
12. <span data-ttu-id="d26ef-122">Insira a data em que a agência emissora emitiu o formulário de identificação ao trabalhador.</span><span class="sxs-lookup"><span data-stu-id="d26ef-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="d26ef-123">Exemplo: 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="d26ef-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="d26ef-124">Insira a data em que o formulário de identificação expira.</span><span class="sxs-lookup"><span data-stu-id="d26ef-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="d26ef-125">Exemplo: 15/02/2021</span><span class="sxs-lookup"><span data-stu-id="d26ef-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="d26ef-126">Clique em Salvar.</span><span class="sxs-lookup"><span data-stu-id="d26ef-126">Click Save.</span></span>
15. <span data-ttu-id="d26ef-127">Feche a página.</span><span class="sxs-lookup"><span data-stu-id="d26ef-127">Close the page.</span></span>
16. <span data-ttu-id="d26ef-128">Clique na guia Emprego.</span><span class="sxs-lookup"><span data-stu-id="d26ef-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="d26ef-129">Clicar em I-9</span><span class="sxs-lookup"><span data-stu-id="d26ef-129">Click I-9.</span></span>
18. <span data-ttu-id="d26ef-130">Clique em Novo.</span><span class="sxs-lookup"><span data-stu-id="d26ef-130">Click New.</span></span>
19. <span data-ttu-id="d26ef-131">No campo Elegibilidade para trabalho, selecione uma opção.</span><span class="sxs-lookup"><span data-stu-id="d26ef-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="d26ef-132">Se o funcionário não é um cidadão ou natural dos Estados Unidos, você deve inserir o número de admissão ou de estrangeiro residente do trabalhador.</span><span class="sxs-lookup"><span data-stu-id="d26ef-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="d26ef-133">Selecione a opção Grupo Lista A.</span><span class="sxs-lookup"><span data-stu-id="d26ef-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="d26ef-134">A lista selecionada depende de qual forma de identificação o funcionário forneceu.</span><span class="sxs-lookup"><span data-stu-id="d26ef-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="d26ef-135">Um trabalhador deve fornecer um documento da Lista A ou um documento das Listas B e C. Por exemplo, se o trabalhador forneceu um passaporte, então a Lista A pode ser selecionada.</span><span class="sxs-lookup"><span data-stu-id="d26ef-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="d26ef-136">No entanto, se o trabalhador forneceu apenas sua carteira de motorista e cartão da previdência social, então as Listas B e C devem ser selecionadas.</span><span class="sxs-lookup"><span data-stu-id="d26ef-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="d26ef-137">No campo Tipo de documento I-9, selecione o tipo de documento que o trabalhador forneceu.</span><span class="sxs-lookup"><span data-stu-id="d26ef-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="d26ef-138">No campo Número do documento, insira ou selecione um valor.</span><span class="sxs-lookup"><span data-stu-id="d26ef-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="d26ef-139">Clique em Salvar.</span><span class="sxs-lookup"><span data-stu-id="d26ef-139">Click Save.</span></span>

